body {
	font-family: 'Josefin Slab', serif;
background-color: white;
}

h1 {
font-family: 'Josefin Slab', serif;
	color: #3cb371;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

h2 {
	color: #000000;
font-family: 'Josefin Slab', serif;
font-style: italic;
font-size: 24px;
}

p {
font-family: 'Josefin Slab', serif;
font-size: 24px;
}